{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "main" }}

<div class="lg:flex lg:flex-row lg:gap-4 mt-8 full">
<div class="mx-4 lg:basis-3/4">
<div class="bg-white border-2 rounded-md  p-4 mb-4">
  <ul class="divide-y divide-dashed">
  {{- range .Pages -}}
    <li class="p-2">
       <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
  {{- end -}}
  </ul>
</div>
</div>
<div class="sticky top-2 bg-white border-2 rounded-md  p-4 mx-4 lg:mx-0 lg:mr-4 lg:basis-1/4 max-h-64">
<div>
{{ partialCached "ads/s_ad.html" . }}
</div>
</div>
</div>
{{ end }}
