<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>authors</title>
  {{ if .Params.canonicalUrl }}
  <link rel="canonical" href="{{ .Params.canonicalUrl }}">
  {{ else }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ end }}
</head>
<body>
<h1>{{ .Title }}</h1>
{{ $num := 0 }}

{{ $num = (add $num (len .Pages)) }}


num:  {{ $num }}
  <ul>

        
      {{- range .Pages -}}
        <li>
  <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
  
</li>
      {{- end -}}

    </ul>
</body>
</html>
