{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "main" }}


{{ $image := .Resources.GetMatch "author_img.webp" }}
<div class="mt-8 mx-4 bg-white border-2 rounded-md  flex flex-col items-center md:flex-row">
{{ if $image}}
<img class="hidden md:inline object-fit cover w-full h-96 rounded-t-md md:h-auto md:w-48 md:rounded-none md:rounded-{{ substr .Site.Language.LanguageDirection 0 1 }}-md" src="{{ $image }}" alt="">
{{ end }}
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{- .Title -}}</h1>
    </div>
</div>
{{ $linkk := relURL .Permalink }}
{{ $quote_slug := "" }}
<div class="lg:flex lg:flex-row lg:gap-4 mt-8 full">
<div class="mx-4 lg:basis-3/4">
<div class="bg-white border-2 rounded-md  p-4 mb-4">
  <ul class="divide-y divide-dashed">
  
  
  {{- range .Params.quotes -}}
  {{ if in $linkk "/ar/" }}
    <li class="p-2">
       <p class="title" >{{ . }}</p>
    </li>
  {{- else -}}
  {{ if in $linkk "/1/" }}
  {{ $quote_slug = replace . "," "" }}
  {{ $quote_slug = replace $quote_slug "." "" }}
  {{ $quote_slug = replace $quote_slug "," "" }}
  {{ $quote_slug = replace $quote_slug "'" "" }}
  {{ $quote_slug = replace $quote_slug ";" "" }}
  {{ $quote_slug = replace $quote_slug "/" "" }}
  {{ $quote_slug = replace $quote_slug "?" "" }}
  {{ $quote_slug = replace $quote_slug " " "-" }}
  {{ $quote_slug = lower $quote_slug}}
  {{ $quote_slug = substr $quote_slug 0 256}}
    <li class="p-2">
       <a class="title" href="https://quotes.quotesandsayings.net{{ $linkk }}{{- $quote_slug -}}/">{{ . }}</a>
    </li>
  {{- else -}}
    <li class="p-2">
       <p class="title" >{{ . }}</p>
    </li>
  {{- end -}}
  {{- end -}}
  {{- end -}}
  </ul>
</div>
</div>
<div class="sticky top-2 bg-white border-2 rounded-md  p-4 mx-4 lg:mx-0 lg:mr-4 lg:basis-1/4 h-fit  pb-4">
<div>

{{ $related_authors := newScratch }}
{{ $related_authors.Set "related_authors" slice }}

{{with .Next}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{with .Next}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{with .Next}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{with .Next}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{with .Next}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{end}}
{{end}}
{{end}}
{{end}}
{{end}}
{{with .Prev}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{with .Prev}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{with .Prev}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{with .Prev}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{with .Prev}}
{{ $related_authors.Add "related_authors" ( dict "url" .Permalink "name" .Params.author) }}
{{end}}
{{end}}
{{end}}
{{end}}
{{end}}


{{ $result := first 5 (shuffle ($related_authors.Get "related_authors") ) }}
<h3 class="text-center font-bold text-2xl pb-2 text-slate-500">{{ i18n "related_authors" }}</h3>
<ul>

{{- range  $result -}}
    <li class="p-1">
       <a class="title" href="{{- .url -}}">{{ .name }}</a>
    </li>
{{- end -}}

</ul>

</div>

</div>
</div>
{{ partialCached "ads/h_ad.html" . }}
{{ end }}
