{{ $res := slice }}
{{ $dir_letter := substr .Site.Language.LanguageDirection 0 1 }}
{{ $dir_word := "left" }}
{{ if eq $dir_letter "r"  }}
{{ $dir_word = "right" }}
{{ end }}
<div class="bg-white mt-8 container mx-auto border-2 rounded-md grid place-items-center w-full">
<div class="p-4 w-full">
<div class="flex flex-col items-center md:flex-row justify-between w-full mb-6">
<h3 class="font-bold text-2xl pb-2 text-slate-500">{{ i18n "famous_authors" }}</h3>
<form id="post-form" class="w-11/12 md:w-1/2">
   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
    <div class="relative">
        <div class="flex absolute inset-y-0 {{ $dir_word }}-0 items-center p{{ $dir_letter }}-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input type="search" id="default-search" class="block p-4 p{{ $dir_letter }}-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300" placeholder="{{ i18n "search_for_authors" }}" required>
    </div>
</form>
</div>
<div class="mx-auto columns-1 md:columns-2 lg:columns-3 xl:columns-4 w-full">
{{- range .Pages -}}
        {{- range .Pages -}}
      {{- range .Pages -}}
      {{ $res = $res | append . }}
        
      {{- end -}}
{{- end -}}
      {{- end -}}

  <ul id='res'>
      {{- range first 50 (shuffle $res) -}}
        <li class='py-1'>
  <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Params.author }}</a>
  
</li>
      {{- end -}}
    </ul>
</div>
</div>

<div class="w-full inline-flex items-center bg-gradient-to-b from-white via-slate-300 to-slate-400 rounded-b-md">
    <a href='{{ "authors"  | absLangURL }}' class="inline-flex items-center pt-6 px-3 text-sm font-medium text-center text-white mx-auto mb-2">
            {{ i18n "all_authors" }}
            {{ if eq $dir_letter "r"  }}
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
</svg>
            {{ else }}
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg>
            {{ end }}
            
        </a>
    </div>

</div>
