{{ if eq .Language.LanguageName "english" }}

{{ $res := slice }}
{{ $dir_letter := substr .Site.Language.LanguageDirection 0 1 }}
{{ $dir_word := "left" }}
{{ if eq $dir_letter "r"  }}
{{ $dir_word = "right" }}
{{ end }}
<div class="bg-white mt-8 container mx-auto border-2 rounded-md grid place-items-center w-full">
<div class="p-4">
<div class="flex items-center justify-start w-full mb-6">
<h3 class="font-bold text-2xl pb-2 text-slate-500">Popular Quotes</h3>
</div>
<div class="mx-auto flex flex-wrap flex-col justify-center md:flex-row w-full">
{{ $quotes := getJSON "https://quotes.quotesandsayings.net/authors/index.json" }}

{{ range $quotes }}

<a class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-2" href="{{ .url }}"><img src="{{ .img }}" alt="{{ .text }}"  ></a>

{{ end }}
</div>
</div>

<div class="w-full inline-flex items-center bg-gradient-to-b from-white via-slate-300 to-slate-400 rounded-b-md">
    <a href="https://quotes.quotesandsayings.net/" class="inline-flex items-center pt-6 px-3 text-sm font-medium text-center text-white mx-auto mb-2">
            More Quotes
            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
{{ end }}
