<script>

{{ $num := 0 }}
var documents = [{{- range .Pages -}}
        {{- range .Pages -}}
      {{- range .Pages -}}
        {
  "name": "{{ .Params.author }}",
  "index": "{{ $num }}",
  "link": "{{ path.Base ( path.Dir .Parent )}}"
},
{{ $num = (add $num 1) }}
      {{- end -}}
{{- end -}}
      {{- end -}}]




  $(document).on('keyup', '#post-form', function (e) {
    e.preventDefault();
    var default_search = document.getElementById('default-search').value;
    console.log(default_search)
    var idx = lunr(function () {
  this.ref('index')
  
  {{ if eq (.Permalink | relURL) "/ar/" }}
  this.use(lunr.ar);
  {{ end }}
  this.field('name')
  
  
  documents.forEach(function (doc) {
    this.add(doc)
  }, this)
})
var res = idx.search(default_search+"*")
console.log(res)
var result = ""
for (var aa in res) {
if (aa == 30){
break;
}
var bb_index = res[aa]['ref']
console.log(bb_index,documents[bb_index]["name"],documents[bb_index]["link"])
var bb_name = documents[bb_index]["name"];
var bb_link = "/authors/"+documents[bb_index]["link"]+"/"+bb_name.replaceAll(',','').replaceAll('.','').replaceAll("'",'').replaceAll(";",'').replaceAll(' ','-').toLowerCase()+"-quotes/"
result = result + '<li>'+'<a class="title" href="'+bb_link+'">'+ bb_name+ '</a></li>'
}
$('#res').html(result)
  });


</script>
