<!DOCTYPE html>
<html dir="{{ .Site.Language.LanguageDirection }}" lang="{{ .Site.Language.Lang }}">
    {{- partial "head.html" . -}}
    <body class="bg-slate-50 flex flex-col min-h-screen relative pb-12">
    

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NWNGZYM300"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NWNGZYM300');
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NL2F2F6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="g1-body-inner">


        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- block "scripts" . }}{{- end }}
        {{ partialCached "scripts.html" . }}
    </body>
</html>
