
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="{{ .Site.BaseURL | relLangURL }}" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">{{ .Site.Title }}</span>
    </a>
    {{ if .IsTranslated }}
   <div class="flex items-center md:order-2">
      <button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex justify-center items-center p-2 text-sm text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
       {{ .Language.LanguageName }}
      </button>
      <!-- Dropdown -->
      <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700" id="language-dropdown-menu">
        <ul class="py-1" role="none">
        {{ range .Translations }}
          <li>
            <a href="{{ .Permalink }}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
              <div class="inline-flex items-center">              
                {{ .Language.LanguageName }}
              </div>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
  </div>
  {{ end }}
  </div>
</nav>

